// TODO: Give these variables intention-revealing names.
$light-gray-border: #ccc;
$table-row-hover-color: #efefef;

$wrapper-border-radius: 5px;

$gradient-start: #fff;
$gradient-end: #dfdfdf;

$darken: 5%;

$size: 23px;
$pagination-link-background-color: #d8d9d9;
$pagination-link-border-color: #bbb;
