#table-region

link(rel="stylesheet" href=""marionette.carpenter.css")

script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/jquery-resizable-columns/dist/jquery.resizableColumns.min.js")
script(src="bower_components/underscore/underscore.js")
script(src="bower_components/backbone/backbone.js")
script(src="bower_components/backbone.babysitter/lib/backbone.babysitter.js")
script(src="bower_components/backbone.radio/src/backbone.radio.js")
script(src="bower_components/backbone.wreqr/lib/backbone.wreqr.js")
script(src="bower_components/cocktail/Cocktail.js")
script(src="bower_components/backbone.marionette/lib/backbone.marionette.js")
script(src="marionette.carpenter.js")
script(src="example.js")