// -----------------------------------------------------------------------------
// For each module there is a css.scss file. 
// E.g. navigation, header, form orproduct etc.
// 
// Naming e.g.:
//
// product                  - module
// product--listing					- module component
// product--listing-price   - module sub component
// 
// Modifiers should belong to a module class and be named with a
// 'is-' or 'has-' prefix like is-active
// -----------------------------------------------------------------------------

.sample {
	height: rem-calc(50);
}

.sample--content {
	height: rem-calc(150);
	padding: rem-calc(25 0);
	margin-bottom: rem-calc(10);
	background-color: $main-color;
	text-align: center;
}