header#hero
  .row
    .content
      h1 Carpenter

      = image_tag 'logo.png'

      p Carpenter is a library for building tables with sorting, pagination, and anything else you can imagine. It's built on top of <a href='http://backbonejs.org'>Backbone</a> and <a href='http://marionettejs.com'>Marionette</a>. Think of it like <a href='http://datatables.net'>DataTables</a> for the client-side MVC set.

section#examples
  .row
    .content
      h2 Building tables should be easy.

      p Building a tabular representation of a JSON resource that enables sorting and pagination should require a minimal amount of code. We did put a man on the moon, after all! Try your hand at adding a column to the table below:

      .editor
        .code
          == window id: 'table-code'

        .table

          table
            thead
              th Username
              th Email Address
              th City
            tbody
              tr
                td techpeace
                td matt@buck.com
                td Arlington, TX
              tr
                td jvennix
                td joe@vennix.com
                td Houston, TX
              tr
                td farias
                td fernando@arias.com
                td New York, NY
              tr
                td techpeace
                td matt@buck.com
                td Arlington, TX
              tr
                td jvennix
                td joe@vennix.com
                td Houston, TX
              tr
                td farias
                td fernando@arias.com
                td New York, NY


